<html layout:decorator="layout">
    <div layout:fragment="content">
        <form method="post" name="comment_form" id="comment_form" action="/schedules/create" role="form">
            <div class="form-group">
                <label for="topic">Schedule</label>
                <input class="form-control" name="topic" />
                <label for="date">Date</label>
                <input type='date' class="form-control" id="date"/>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</html>